// == Colors
$brand-welcome: #4E7E75;
$brand-welcome-light: #A6C9C2;
$brand-skill: #C6586C;
$brand-skill-light: #D88C9A;
$brand-project: #5F4B95;
$brand-project-light: #B8AED6;
$brand-career: #E7A85F;
$brand-career-light: #F2D0A9;
$brand-contact: #3482AD;
$brand-contact-light: #84BCDA;


$brand-primary: #F5F5F5;
$brand-secondary: #555;

$brand-light: #EBE4DA;
$brand-dark: #555;

$brand-text: #555;


//== Screen width
//With bootstrap
//$min-xs: $screen-xs-min;
//$max-xs: $screen-xs-max;
//$min-sm: $screen-sm-min;
//$max-sm: $screen-sm-max;
//$min-md: $screen-md-min;
//$max-md: $screen-md-max;
//$min-lg: $screen-lg-min;

//Without bootstrap
$max-xxs: 359px;
$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;
$max-lg: 1319px;
$min-hu: 1320px;


// == Taille
// $header-height-huge: 190px;

// Container
// $container: 1200px;
