.welcome{
    background: linear-gradient($brand-welcome, $brand-welcome-light);
    padding-top: 40px !important;
    display: block !important; 

    &__intro{
        margin: 20vh 40px 0;
        display: flex; 
        flex-direction: column;
        align-items: center;


        @include desktop{
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
        }

        img{
            max-width: 500px;
            width: 90%;
            padding-bottom: 20px;

            @include desktop{
                max-width: 600px;
                width: 40%;
            }
        }

        h2{
            font-size: 0;
            color: #fff;
            

            span{
                font-size: 50px;
                display: inline-block;
                animation: scatter 2s infinite;
                animation-timing-function: ease;

                //pour les écrans supérieur ou égal à 768px
                @include tablet{
                    font-size: 80px;
                }

                //pour les écrans supérieur ou égal à 992px
                @include laptop{
                    font-size: 90px;
                }

                //pour les écrans supérieur ou égal à 1200px
                @include desktop{
                    font-size: 100px;
                }

                &:nth-child(2n){
                    animation-delay: 0.3s;
                }

                &:nth-child(3n){
                    animation-delay: 0.6s;
                }

            }

        }

    }

}
