.divider{
    min-height: 100vh;
    padding: 100px 0 50px;
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;

    &__title{
        position: absolute;
        top: 40px;
        left: 0;
        display: inline-block;
        font-weight: 400;
        padding : 0 15px 0 40px;
        background-color : #fff; 
        font-size: 40px;
        border-radius : 0 25px 25px 0;
        transform: translateX(-100%);
        transition: all 0.8s ease;

        &.visible{
            transform: translateX(0);
        }

        @include desktop{
            padding : 0 40px 0 125px;
        }
    }

}